<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
         {% block alink %} {% endblock alink %}
        </ul>
      </nav>
    </header>
    {% block main %}{% endblock main %}
  </body>
</html>
