{% extends 'base.html' %}

{% block alink %}
<a href="{% url 'login' %}">Login</a>
<a href="{% url 'signup' %}">Sign Up</a>
{% endblock alink %}

{% block main %}
<main>
  <div>
    <h1>Signup</h1>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button>Signup</button>
    </form>
  </div>
</main>
{% endblock main %}
