{% extends 'base.html' %}
{% block alink %}
<li>
<a href="{% url 'home' %}">Home</a>
</li>
{% endblock alink %}
{% block main %}
<main>
    <h1>Account</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for account in account_object%}
            <tr>
                <td>{{account.name}}</td>
                <td>{{account.number}}</td>
                <td>{{account.receipts.count}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock main %}
